* {
    box-sizing : border-box;
    margin : 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  .NavbarItems {  
    background: linear-gradient(45deg, rgb(7, 199, 135), #62f7d6);
    border-bottom-color: black;
    height: 65px;
    display: flex;
    font-weight: bold;
  }
  
  .nav-menu {
    display : grid;
    grid-template-columns : repeat(5, auto);
    grid-gap : 5px;
    list-style : none;
    text-align : center;
    width : 70vw;
    margin-top : auto;
    margin-bottom : auto;
    margin-right : 2rem;
   
  
  }
  
  .li-element {
    color : white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
   
  }
.li-element:hover {
    color:rgb(11, 153, 106);
}
  
  .App{
   margin-bottom: 200px;
  }