/* Button area */
.btncontainer {
    margin-left: 15px;
}

.warn {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background-color: aquamarine;
}

.summary {
    width: 200px;
}

/* Div that contains all the information*/
.details {
    border-radius: 10px;
    background: rgba(80, 198, 228, 0.836);
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}